@each $width in $resposive-width {
    @media screen and (max-width: #{$width}px) {
        section {
            &.header {
                .topper-nav {
                    @if ($width >=767px) {
                    }
                    .navbar {
                        .collapse {
                            &.show {
                                background-color: #212529;
                                z-index: 99;
                                ul{
                                    height: 100vh;
                                    display: flex;
                                    justify-content: space-between;
                                    text-align: center;
                                    align-items: center;
                                    li{
                                        a{

                                        }
                                    }
                                }
                            }
                            ul {
                                li {
                                    a {
                                    }
                                }
                            }
                        }
                    }
                }

                .secondary-menu {
                    .navbar {
                        .collapse {
                            @if ($width >=767px) {
                                display: block !important;
                            }

                            ul {
                                @if ($width >=767px) {
                                    display: flex;
                                    flex-wrap: wrap;
                                    width: 100%;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                }
                                li {
                                    @if ($width >= 767px) {
                                        padding-left: 7px;
                                        padding-right: 7px;
                                    }
                                    span {
                                        img {
                                        }
                                    }
                                    a {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
