section.header .topper-nav {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 48px;
}
section.header .topper-nav .navbar .collapse ul li {
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
section.header .topper-nav .navbar .collapse ul li a {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  line-height: 3.14286px;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #f5f5f7;
}
section.header .secondary-menu {
  background: rgba(245, 245, 247, 0.6);
}
section.header .secondary-menu .navbar .collapse ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.header .secondary-menu .navbar .collapse ul li span img {
  width: 23px;
  height: 54px;
}
section.header .secondary-menu .navbar .collapse ul li a {
  color: #1d1d1f;
  font-size: 11px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

section.bannar {
  height: 80vh;
  width: 100%;
  background-color: #a4c0ca;
}
section.bannar .banner-inner {
  height: 100%;
}
section.bannar .banner-inner .container {
  height: 100%;
}
section.bannar .banner-inner .container .row {
  height: 100%;
}
section.bannar .banner-inner .container .row .col-sm-12 {
  height: 100%;
  display: flex;
  align-items: center;
}
section.bannar .banner-inner .container .row .col-sm-12 .text-sec {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #1d1d1f;
}
section.bannar .banner-inner .container .row .col-sm-12 .text-sec .title {
  font-size: 28px;
}
section.bannar .banner-inner .container .row .col-sm-12 .text-sec .subtitle {
  font-size: 18px;
  margin-top: 15px;
}
section.bannar .banner-inner .container .row .col-sm-12 .text-sec .text {
  font-size: 12px;
  margin-top: 15px;
}
section.bannar .banner-inner .container .row .col-sm-12 .text-sec .button {
  margin-top: 20px;
}
section.bannar .banner-inner .container .row .col-sm-12 .text-sec .button .buy {
  text-decoration: none;
  background-color: red;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

section.apple-watch-studio {
  margin-top: 50px;
  background: #fafafa;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
section.apple-watch-studio .subtitle {
  font-family: 24px;
  font-weight: 600;
}
section.apple-watch-studio .title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}
section.apple-watch-studio .cr-button {
  margin-bottom: 20px;
}
section.apple-watch-studio .cr-button .cr-own {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 3px solid #e28f8f;
  border-radius: 100px;
}
section.apple-watch-studio .body-image {
  width: 100%;
  height: 522px;
  background-image: url(../vendor/images/studion_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.apple-watch-studio .body-image .slider-image img {
  width: 320px;
  height: 522px;
}

section.new-elements {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
section.new-elements .image {
  width: 100%;
  height: 600px;
  background-size: 1390px 750px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../vendor/images/new_section_watch.jpg);
}
section.new-elements .title {
  font-size: 48px;
}
section.new-elements .subtitle {
  font-size: 19px;
}
section.new-elements .new-product-link a {
  font-size: 19px;
  font-weight: 0;
}

section.compare-model {
  margin-top: 100px;
}
section.compare-model .title {
  text-align: center;
  font-size: 48px;
  line-height: 1.08365px;
  font-weight: 600;
  color: #1d1d1f;
  margin-bottom: 25px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
section.compare-model .subtitle {
  color: #06c;
  text-align: center;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 25px;
  margin-top: 15px;
}
section.compare-model .body {
  margin-top: 30px;
}
section.compare-model .body .container .row .col-sm-12 .image {
  width: 203px;
  height: auto;
}
section.compare-model .body .container .row .col-sm-12 .title {
  font-size: 21px;
  text-align: left;
  margin-top: 30px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
section.compare-model .body .container .row .col-sm-12 .price {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
section.compare-model .body .container .row .col-sm-12 .addi-info {
  margin-bottom: 15px;
  font-size: 14px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
section.compare-model .body .container .row .col-sm-12 .button {
  margin-top: 15px;
}
section.compare-model .body .container .row .col-sm-12 .button button {
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
}
section.compare-model .body .container .row .col-sm-12 .more a {
  font-size: 14px;
  line-height: 1.42859px;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

section.shop-all-watch {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #1d1d1f;
}
section.shop-all-watch .title {
  font-size: 56px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}
section.shop-all-watch .body .container .row .col-sm-12 .main-bs .image {
  margin-bottom: 20px;
}
section.shop-all-watch .body .container .row .col-sm-12 .main-bs .image img {
  width: 100%;
  height: 250px;
}
section.shop-all-watch .body .container .row .col-sm-12 .main-bs .title {
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

section.footer {
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
}
section.footer .container .row {
  width: 100%;
}
section.footer .container .row .title {
  font-weight: 600;
}
section.footer .container .row .sections {
  justify-content: space-between;
  width: 100%;
}
section.footer .container .row .sections .inner-sec .title {
  font-weight: 600;
  padding-bottom: 8px;
}
section.footer .container .row .sections .inner-sec .list-link ul {
  padding-left: 0;
}
section.footer .container .row .sections .inner-sec .list-link ul li {
  list-style: none;
}
section.footer .container .row .sections .inner-sec .list-link ul li a {
  text-decoration: none;
  color: #515154;
  font-size: 13px;
  letter-spacing: 1px;
}
section.footer .container .row .follow-us-section .title {
  font-weight: 600;
  padding-right: 10px;
}
section.footer .container .row .follow-us-section .social-icons a {
  padding-left: 3px;
  padding-right: 3px;
}
section.footer .container .row .follow-us-section .social-icons a i {
  color: #515154;
}
section.footer .container .row .flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
